@import "tailwindcss";



html {
  scroll-behavior: smooth;
}



#idd {
  background-color: #334ed6;
  background-color: #A4B3FF;
  background-color: #F8F9FF;
  background-color: #E0E4FF;
  background-color: #1E1E2F;
  background-color: #d6effd;
  background-color: #555770;
  background-image: linear-gradient(135deg, #5771FF, #00C8FF);
  background-image: linear-gradient(135deg, #334ed6, #1E1E2F);
  
}

#he {
  font-family: "Montserrat", sans-serif;
  /* font-weight: 800; */
}

#pa {
  font-family: "Lato", sans-serif;
}

.fj {
  background-image: linear-gradient(white, #E0E4FF, #d6effd, #d6effd, #E0E4FF, white);
}



/* pic slider  */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}



/* glass effect */
.glass-card {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}






/* scroll bar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #a4b3ff73;
  backdrop-filter: blur(20px);
}

::-webkit-scrollbar-thumb {
  background: #334ed6;
  border-radius: 10px;
  border: 0.1px solid rgb(255, 255, 255);
  backdrop-filter: blur(30px);
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}